<link href="/css/styles.css" rel="stylesheet" type="text/css">
<div class="head">
    <ul class="navbar">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/api/posts">All Posts</a></li>
        <li><a href="/form">Create Post</a></li>
    </ul>
</div>
