<html>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <%- include('../templates/head') -%>
    <body class="text-center">
        <h1>TTN BUZZ</h1>
        <h3>This is Part of TTN buzz used to Test Api </h3>
        <a href="http://localhost:8080/api/posts">Get All the Posts</a>
    </body>
</html>